.about {
    height: 757px;
    position: relative;
    width: 1930px;
}

.about .base-layer {
    height: 757px;
    left: 0;
    position: relative;
    top: 0;
    width: 1936px;
}

.about .overlap-group {
    background-image: url(../../components/images/action_3751351.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 413px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
}

.about .group {
    height: 61px;
    left: 256px;
    position: absolute;
    top: 145px;
    width: 229px;
}

.about .text-wrapper {
    color: --white;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.about .div {
    color: --white;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 256px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 216px;
    white-space: nowrap;
    width: 760px;
}

.about .text-wrapper-2 {
    color: --base-blue;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 256px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 471px;
    white-space: nowrap;
}

.about .line {
    height: 1px;
    left: 314px;
    object-fit: cover;
    position: absolute;
    top: 540px;
    width: 327px;
}

.about .description {
    color: --base-blue;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 256px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 584px;
    width: 1331px;
}

.founders {
    background-color: #0573e8;
    border: 1px solid;
    border-color: #000000;
    height: 1080px;
    position: relative;
    width: 1920px;
  }
  
  .founder .group {
    height: 110px;
    left: 737px;
    position: absolute;
    top: 162px;
    width: 392px;
  }
  
  .founder .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 258px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .founder .div {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 49px;
  }
  
  .founder .yash {
    height: 658px;
    left: 441px;
    position: absolute;
    top: 367px;
    width: 440px;
  }
  
  .founder .yash2 {
    height: 654px;
    left: 948px;
    position: absolute;
    top: 367px;
    width: 440px;
  }
  
  .founder .found-line {
    height: 1px;
    left: 807px;
    object-fit: cover;
    position: absolute;
    top: 292px;
    width: 246px;
  }
  