.contact-us {
    background-color: #0573e8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .contact-us .div {
    background-color: #0573e8;
    height: 1252px;
    position: relative;
    width: 1920px;
  }
  
  .contact-us .text-wrapper {
    color: #ffffff;
    font-family: "Raleway-SemiBold", Helvetica;
    font-size: 65px;
    font-weight: 600;
    left: 780px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 150px;
    white-space: nowrap;
  }
  
  .contact-us .line {
    height: 2px;
    left: 724px;
    position: absolute;
    top: 304px;
    width: 415px;
  }
  
  .contact-us .online-inquiry {
    height: 760px;
    left: 191px;
    position: absolute;
    top: 390px;
    width: 663px;
  }
  
  .contact-us .text-wrapper-2 {
    color: #ffffff;
    font-family: "Raleway-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 208px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .contact-us .overlap {
    background-color: #ffffff;
    height: 63px;
    left: 0;
    position: absolute;
    top: 64px;
    width: 659px;
  }
  
  .contact-us .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Thin", Helvetica;
    font-size: 20px;
    font-weight: 100;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    white-space: nowrap;
  }
  
  .contact-us .input-interest {
    height: 63px;
    left: 0;
    position: absolute;
    top: 340px;
    width: 661px;
  }
  
  .contact-us .overlap-group {
    background-color: #ffffff;
    height: 63px;
    position: relative;
    width: 659px;
  }
  
  .contact-us .input-message {
    height: 217px;
    left: 0;
    position: absolute;
    top: 432px;
    width: 661px;
  }
  
  .contact-us .div-wrapper {
    background-color: #ffffff;
    height: 217px;
    position: relative;
    width: 659px;
  }
  
  .contact-us .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Thin", Helvetica;
    font-size: 20px;
    font-weight: 100;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    white-space: nowrap;
  }
  
  .contact-us .input-email {
    height: 63px;
    left: 0;
    position: absolute;
    top: 156px;
    width: 661px;
  }
  
  .contact-us .input-phone {
    height: 63px;
    left: 0;
    position: absolute;
    top: 248px;
    width: 661px;
  }
  
  .contact-us .input-send {
    height: 71px;
    left: -4px;
    position: absolute;
    top: 697px;
    width: 667px;
  }
  
  .contact-us .contact-details {
    height: 472px;
    left: 1226px;
    position: absolute;
    top: 390px;
    width: 285px;
  }
  
  .contact-us .yash-details {
    height: 107px;
    left: 13px;
    position: absolute;
    top: 73px;
    width: 262px;
  }
  
  .contact-us .text-wrapper-5 {
    color: #ffffff;
    font-family: "Raleway-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 42px;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper-6 {
    color: #ffffff;
    font-family: "Raleway-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 84px;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper-7 {
    color: #ffffff;
    font-family: "Raleway-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .contact-us .yash-details-2 {
    height: 109px;
    left: 0;
    position: absolute;
    top: 363px;
    width: 289px;
  }
  
  .contact-us .text-wrapper-8 {
    color: #ffffff;
    font-family: "Raleway-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 43px;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper-9 {
    color: #ffffff;
    font-family: "Raleway-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 61px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 86px;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper-10 {
    color: #ffffff;
    font-family: "Raleway-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .contact-us .jose-details {
    height: 107px;
    left: 16px;
    position: absolute;
    top: 218px;
    width: 256px;
  }
  
  .contact-us .text-wrapper-11 {
    color: #ffffff;
    font-family: "Raleway-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 84px;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper-12 {
    color: #ffffff;
    font-family: "Raleway-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 63px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper-13 {
    color: #ffffff;
    font-family: "Raleway-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  