@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --bg: #0573E8;
    --text: white;
    --swiper-theme-color: whitesmoke;
}


body{
    background-color: var(--bg);
    color:var(--text);
    height: 500vh;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}